@import url(http://fonts.googleapis.com/css?family=Karla:700,400,400italic);

html,
body {
	margin: 0;
	padding: 0;
	font: 1em 'Karla', sans-serif;
}

header,footer {
	margin: 0;
	position: relative;
	width: 100%;
	float: left;
}

header,footer, footer a, footer a:visited{
	color: white;
}

header{
	background: url(http://xavieralexandre.org/fondue/img/capites.jpg);
	background-size: 100%;
	background-image: linear-gradient( rgba(0, 15, 100, 0.6), rgba(0, 15, 100, 0.6)), url(http://xavieralexandre.org/fondue/img/capites.jpg);
	height: 50vw;
	max-height: 80vh;
	margin-bottom: 3em;
}

footer{
	background: url(http://xavieralexandre.org/fondue/img/café.jpg);
	background-size: 100%;
	background-image: linear-gradient( rgba(0, 15, 100, 0.6), rgba(0, 15, 100, 0.6)), url(http://xavieralexandre.org/fondue/img/café.jpg);
	padding: 3em ;
	text-align:center;
	max-height:523px;
}

.map {
	width: 50%;
	display:block;
	margin:1em;
	margin-left: auto;
	margin-right: auto;
	border: solid;
	border-width: 4px;
	border-color: rgba(0, 15, 100, 1);
}

a, a:visited, h2, h3{
	color: rgba(0, 15, 100, 1);
}

h1 {
	position: absolute;
	top: 1em;
	left: 1em;
	color: white;
	margin: 0;
}

#spots,
#checklist {
	font-size: 1.2em;
	width: 90%;
	max-width: 900px;
	margin: 0em auto 3em;
}

@media (max-device-width: 768px) {
	body {
		font-size: 2em;
	}
  
	.map {
		width: 100%;
	}
}

h2{
	margin:0;
}