@import url(http://fonts.googleapis.com/css?family=Karla:700,400,400italic);

html,
body {
	margin: 0;
	padding: 0;
	font: 1.1em 'Karla', sans-serif;
}

p, h1, h2, h3, h4, h5{
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

header,footer, footer a, footer a:visited{
	color: white;
}

p{
	margin-bottom: 0.5em;
}

.wrapper{
	width: 90%;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

header{
	background-color: #078DC1;
	background-image: linear-gradient(270deg, rgba(93, 196, 233, 0.7) 0%, rgba(7, 141, 193, 0.7) 100%), url(http://xavieralexandre.org/fondue/img/capites.jpg);
	background-size: cover;
	background-position: center bottom;
}

header img{
	margin: 3em 0 2em;
	max-width: 100%;
}

.baseline{
	background-color: #078DC1;
	background-image: linear-gradient(270deg, rgba(93, 196, 233, 1) 0%, rgba(7, 141, 193, 1) 100%);
	color: white;
	margin-bottom: 3em;
}

h1{
	padding: 0.4em 0;
	font-size: 1.4em;
}

h2{
	font-size: 1.3em;
	margin-bottom: 0.5em;
}

h3{
	font-size: 1em;
	margin-bottom: 0.5em;
}

footer{
	text-align:center;
	background-color: rgba(7, 141, 193, 1);
	background-image: linear-gradient(270deg, rgba(93, 196, 233, 1) 0%, rgba(7, 141, 193, 1) 100%);
	margin-top: 2em;
}

footer p{
	padding: 2em 0;
	margin: 0;
}


#spots h3{
	margin: 1em 0 0.5em;
}

a, a:visited, h2, h3{
	color: rgba(7, 141, 193, 1);
}

#checklist{
	display: flex;
	flex-wrap: wrap;
}

.spot{
	display: flex;
	flex-wrap: wrap;
	margin-bottom:2em;
}

.mapcontainer{
	width: 100%;
}

.mapcontainer a{
}

.map {
	width: 100%;
	 border: 2px solid rgba(7, 141, 193, 1);
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
}

@media all and (min-width: 600px) {

	.mapcontainer{
		width: 50%;
	}

	.description{
		width: 48%;
		margin-left: 2%;
	}

	.list{
		width: 50%;
	}

	.list ul{
		padding-right: 5%;
	}

	h1{
	padding: 0.4em 0;
	font-size: 1.6em;
	}

	h2{
		font-size: 1.5em;
		margin-bottom: 0.5em;
	}

	h3{
		font-size: 1.2em;
		margin-bottom: 0.5em;
	}

}
